/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 Jan 2025, 16:22:39
    Author     : User
*/
.bg-form{
    -fx-background-color:linear-gradient(to top right, #1e242e, #ae2d3c);
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff5151;
    
}
.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    
}
.minimize:hover{
    -fx-background-color:#c5273f;
}
.textfield{
    -fx-background-color:transparent;
    -fx-text-inner-color:#fff;
    -fx-border-color:#d63333;
    -fx-botder-width:0px 1px 0px;
}
.textfield:focused{
    -fx-border-color:#fb6363;
    -fx-border-width:0px 0px 1px 0px;
}
.login-btn{
    -fx-background-color:linear-gradient(to bottom right, #35529d, #2371d0);
     -fx-background-radious:8px;
     -fx-text-fill:#fff;
     -fx-font-size:14px;
     -fx-cursor:hand;
     
}
.hyperlink{
    -fx-underline:false;
    -fx-border-color: transparent;
    -fx-border-width:0px;
    
}
.signup-btn{
    -fx-background-color:linear-gradient(to bottom right, #3e785c, #399a73);
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-font-size:14px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    
    
}
.sinup-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #4d9a76, #45b796);
}
.signOut:hover{
  -fx-background-color:#d62651;
}
.root {
    -fx-background-color: #2196F3; 
    
}
.card:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.card1{
    -fx-background-color:linear-gradient(to right, #2b428c, #2e58ab);
    -fx-background-radius: 0px 10px 10px 0px;   
}

.whitebg {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,.3), 8,0,0,0);
}